<div class="jumbotron center">
  <h1>Welcome to Whaddy</h1>
  <p>
    A huge online marketplace for everything you need at an amazing price!
  </p>
  <p>
    <small>Deals today, Gone tomorrow...</small>
  </p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
