<div class="well">
  <h1>About Us</h1>
  <p>At Whaddy.com we have a great sense of pride in how we handle our customer’s satisfaction! Our partnership with the leaders in technology and security allow us to offer the best prices on wholesale deals and products.  Our goal is to get them to your door quickly and securely every time you purchase from us.</p>
  <h2>Your Expectations</h2>
  <p>We know that your expectation is to be involved and aware of the whole process of purchase and delivery. With Whaddy.com, you will be aware of your order status at every step and in real-time. It is just as important to us as it is to you that from the time you submit your payment to the time you receive your product you are informed of its whereabouts.</p>
</div>