@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #ecf0f1;
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg: white;
$navbar-default-brand-color: #00b3f4;
$brand-primary: #c0392b;
$jumbotron-bg: white;

@import 'bootstrap';

.center {
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

.navbar {
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 3px;
}

.show {
  margin-top: 65px;
}